.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    width: 100%;
}
.header_icon{
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
}
.header_center{
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
}
.header_center > input {
    border: none;
    width: 250px;
    padding: 10px;
    outline-width: 0;
}
.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}
@media(max-width: 390px) {
    .header_icon{
        object-fit: contain;
        height: 50px;
        margin-left: 10px;
    }
    .header_center{
        display: flex;
        flex: 1;
        align-items: center;
        max-width: fit-content;
        padding: 5px;
        height: 20px;
        border: 1px solid lightgray;
        border-radius: 999px;
    }
}